* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 375px;
  margin: 0 auto;
}

.profile-header {
  background: #000;
  color: white;
  padding: 20px;
}

.parent-profile {
  height: 100vh;
  background-image: url("/default-bg.png");
  background-size: cover;
}

.profile-details {
  margin: 80px 20px;
  color: white;
}

.profile-name {
  font-size: 24px;
  margin: 8px 0;
}

.profile-profession {
  margin-bottom: 8px;
}

.profile-location {
  font-size: 12px;
}